@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: hsl(30, 54%, 90%);
}

.card{
    margin: auto;
    background-color: white;
    width: 700px;
    height: 1600px;
    padding: 30px;
    border-radius: 15px;
}

h1{
    font-size: 28px;
}

img{
    border-radius: 5px;
    width: 100%;
}

p{
    font-size: 14px;
    color: black;
}
ul{
    padding-inline-start: 25px;
}

ol{
    padding-inline-start: 25px;
}

ul li.prep{
    list-style-type: disc;
    padding-left: 12px;
    padding-bottom: 10px;
    margin-inline-start: 15px;
}

ul li.prep::marker{
    color: hsl(332, 51%, 32%);
}

ul li.ing{
    list-style-type: square;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 12px;
}

ol li.ins{
    padding-bottom: 10px;
    font-size: 14px;
    padding-left: 14px;
}

ul li.ing::marker{
    color: hsl(14, 45%, 36%);
}

ol li.ins::marker{
    color: hsl(14, 45%, 36%);
    font-size: 19px;;
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
    padding-bottom: 20px;
}

.preparationTime{
    padding-top: 20px;
    padding-left: 20px;
    color: hsl(332, 51%, 32%);
    font-size: 18px;
    font-weight: bold;
}

.ingredients{
    font-size: 19px;
}

.instructions{
    font-size: 19px;
}

.ingHeader{
    color: hsl(14, 45%, 36%);
}

.insHeader{
    color: hsl(14, 45%, 36%);
}

.nutrition{
    color: hsl(14, 45%, 36%);
}

hr{
    border-top: 1px solid hsl(30, 18%, 87%);
}

.container{
    width: 100%;
    font-size: 12px;
    padding-bottom: 20px;
}

.column1{
    float: left;
    width: 50%;
    padding-left: 28px;
}

.column2{
    float: left;
    width: 50%;
    padding-left: 3px;
    color: hsl(14, 45%, 36%);
}